<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Musicas</title>
  <link rel="stylesheet" href="../../css/pgListar.css">
</head>
<body>
  <main>
    <div class="backgroundBlurMusica"></div>
        <div class="lista">
          <a href="pgOpMusica.html">Voltar</a>
          <h2>Buscar Musica por ID</h2>
          <input type="number" id="musica-id" placeholder="Digite o ID do musica">
          <button id="buscar-musica">Buscar</button>
          <div id="musica-detalhes">
          </div>
          <hr>
          <h1>Lista de Musicas</h1>
            <div id="musica-container">
            </div>
        </div>
  </main>
  <script src="../../js/musica/musicaListar.js"></script>
</body>
</html>