<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seus Artistas</title>
  <link rel="stylesheet" href="../../css/pgOp.css">
</head>
<body>
  <main>
    <div class="backgroundBlurMusica"></div>
    <div class="discoFundoCriar">
      <img src="../../imgs/discoparado.png" alt="">
    </div>
    <div class="paiOpcoes">
      <div class="divOpcoes">
        <h1>Opções do Disco</h1>
        <div class="opcoes">
          <a href="pgListarMusica.html">Ver Musicas Cadastradas</a>
          <a href="pgCriarMusica.html">Criar Musica</a>
          <a href="pgVincularDisco.html">Vincular Disco</a>
          <a href="../pgPrincipal.html">Voltar</a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>