<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Discos e Musicas</title>
  <link rel="stylesheet" href="../../css/pgVincular.css">
</head>
<body>
  
  <div class="backgroundBlurMusica"></div>
  <div class="container">
    <a href="pgOpMusica.html">Voltar</a>
    <h1>Discos e Musicas</h1>
    <button id="back-button">Voltar</button>
    <div id="discos-container" class="list"></div>
    <div id="musica-container" class="list" style="display: none;"></div>
  </div>
  <script src="../../js/musica/vincularDisco.js"></script>
</body>
</html>
