<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Artistas</title>
  <link rel="stylesheet" href="../../css/pgListar.css">
</head>
<body>
  <main>
    <div class="backgroundBlur"></div>

        <div class="lista">
          <a href="pgOpArtista.html">Voltar</a>
          <h2>Buscar Artista por ID</h2>
          <input type="number" id="artista-id" placeholder="Digite o ID do artista">
          <button id="buscar-artista">Buscar</button>

          <div id="artista-detalhes">
          </div>
          <hr>
          <h1>Lista de Artistas</h1>
            <div id="artistas-container">
            </div>
        </div>
  </main>
  <script src="../../js/artistas/artistaListar.js"></script>
</body>
</html>