<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Discos</title>
  <link rel="stylesheet" href="../../css/pgListar.css">
</head>
<body>
  <main>
    <div class="backgroundBlurDisco"></div>
        <div class="lista">
          <a href="pgOpDisco.html">Voltar</a>
          <h2>Buscar Disco por ID</h2>
          <input type="number" id="disco-id" placeholder="Digite o ID do disco">
          <button id="buscar-disco">Buscar</button>
          <div id="disco-detalhes">
          </div>
          <hr>
          <h1>Lista de Discos</h1>
            <div id="disco-container">
            </div>
        </div>
  </main>
  <script src="../../js/discos/discoListar.js"></script>
</body>
</html>