<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artistas e Discos</title>
  <link rel="stylesheet" href="../../css/pgVincular.css">
</head>
<body>
  
  <div class="backgroundBlurDisco"></div>
  <div class="container">
    <a href="pgOpDisco.html">Voltar</a>
    <h1>Artistas e Discos</h1>
    <button id="back-button">Voltar</button>
    <div id="artistas-container" class="list"></div>
    <div id="disco-container" class="list" style="display: none;"></div>
  </div>
  <script src="../../js/discos/vincularArtista.js"></script>
</body>
</html>
